<app-tela titulo="{{ titulo }}" (botaoFechar)="fechar()">
  <app-botao-novo (acao)="novo()"></app-botao-novo>
  <div class="row">
    <div class="col-sm">
      <div class="table-responsive-sm" #tabela>
        <table
          class="table table-sm table-striped table-hover"
          *ngIf="paginacao?.rows; else aviso"
          id="tabelaDados"
        >
          <caption>
            <div class="row">
              <div class="col-6">
                <div class="form-inline">
                Registros: 
                <select
                  required
                  class="form-control form-control-sm custom-select"
                  id="size"
                  name="size"
                  [(ngModel)]="paginacao.page.size"
                  (change)="listar();"
                >
                  <option value="10" selected>10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                <div class="col-6">
                  Total de registros: <strong>{{ paginacao.page.totalRows }}</strong>
                </div>
              </div>
              </div>
              <div class="col-sm">
              </div>
            </div>
          </caption>
          <thead>
            <tr>
              <!--

                <th scope="col" *ngFor="let coluna of tituloColuna">
                  {{ coluna }}
                </th>
              -->
              <th
                scope="col"
                scope="col"
                coluna="nome"
                (ordecacao)="onOrdem($event)"
              >
                Nome
              </th>
              <th scope="col" coluna="ativo" (ordecacao)="onOrdem($event)">Ativo</th>
              <th scope="col" coluna="nascimento" (ordecacao)="onOrdem($event)">
                Nascimento
              </th>
              <th scope="col" coluna="sexo" (ordecacao)="onOrdem($event)">
                Sexo
              </th>
              <th scope="col" coluna="rg" (ordecacao)="onOrdem($event)">RG</th>
              <th scope="col" coluna="cpf" (ordecacao)="onOrdem($event)">
                CPF
              </th>
              <th scope="col">Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entidade of paginacao.rows">
              <td>
                {{ entidade.nome }} {{ entidade.nomeMeio }}
                {{ entidade.sobrenome }}
              </td>
              <td>{{ entidade.ativo | simNao }}</td>
              <td>{{ entidade.nascimento | date: "shortDate" }}</td>
              <td>{{ entidade.sexo }}</td>
              <td>{{ entidade.rg }}</td>
              <td>{{ entidade.cpf }}</td>
              <td>
                <app-botoes-acao
                  (acaoEdicao)="editar(entidade.UUId)"
                  (acaoVisualizacao)="detalhar(entidade.UUId)"
                  (acaoExclusao)="excluir(entidade.id)"
                ></app-botoes-acao>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
            </tr>
          </tfoot>
        </table>
        <ngb-pagination [collectionSize]="paginacao.page.totalRows" [(page)]="paginacao.page.next" (pageChange)="mudouPagina()" aria-label="Default pagination"></ngb-pagination>
      </div>
      <ng-template #aviso>
        <div *ngIf="erro; else carregandoDados">
          <div *ngIf="erro.error.mensagem; else erroGenerico">
            {{ erro.error.mensagem }}
            <p>Clique no botão abaixo para recarregar.</p>
            <p>
              <button
                type="button"
                class="btn btn-primary"
                (click)="recarregar()"
              >
                <i class="fa fa-refresh" aria-hidden="true"></i>
              </button>
            </p>
          </div>

          <ng-template #erroGenerico>
            <p>Falha: {{ erro.message }}</p>
            <p>Url: {{ erro.url }}</p>
            <p>
              Entre em contato com
              <a href="mailto:jairmaiag@gmail.com?subject=Erro"
                >jairmaiag@gmail.com</a
              >
            </p>
            <p>Clique no botão abaixo para recarregar.</p>
            <p>
              <button
                type="button"
                class="btn btn-primary"
                (click)="recarregar()"
              >
                <i class="fa fa-refresh" aria-hidden="true"></i>
              </button>
            </p>
          </ng-template>
        </div>
        <ng-template #carregandoDados>
          <i class="fa fa-spinner fa-2x fa-spin" aria-hidden="true"></i><br />
          Aguarde...
        </ng-template>
      </ng-template>
    </div>
  </div>
</app-tela>
