<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h3>{{ tituloComponente }}</h3>
    </div>
    <div class="col-sm text-right">
      <button type="button" class="btn btn-primary" (click)="cancelar()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      {{ usuario | json }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <form #formUsu="ngForm" (ngSubmit)="salvar()">
        <div class="form-group" *ngIf="id != null">
          <label for="id">Id</label>
          <input
            type="text"
            readonly
            class="form-control-plaintext"
            id="id"
            name="id"
            [(ngModel)]="usuario.UUId"
          />
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <label for="login">Login</label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="login"
                name="login"
                placeholder="Login"
                autofocus
                [(ngModel)]="usuario.login"
              />
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <label for="senha">Senha</label>
              <input
                type="password"
                class="form-control form-control-sm"
                id="senha"
                name="senha"
                [(ngModel)]="usuario.senha"
                placeholder="***"
              />
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="nome"
                name="nome"
                [(ngModel)]="usuario.Pessoa.nome"
                placeholder="Nome"
              />
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <label for="sobrenome">Sobre Nome</label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="sobrenome"
                name="sobrenome"
                [(ngModel)]="usuario.Pessoa.sobrenome"
                placeholder="Sobre Nome"
              />
            </div>
          </div>
        </div>
        <div class="form-group form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="ativo"
            name="ativo"
            [(ngModel)]="usuario.ativo"
          />
          <label class="form-check-label" for="ativo">Ativo</label>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </div>
  </div>
</div>
