<tela titulo="{{ titulo }}" (botaoFechar)="fechar()">
  <botao-excluir (acao)="excluir('aaaaaaa')"></botao-excluir>
  <botao-novo (acao)="novo()"></botao-novo>
  <botao-detalhar (acao)="detalhar('asdfafasf')"></botao-detalhar>
  <botao-editar (acao)="editar('asdfafasf')"></botao-editar>
  <botao-cancelar (acao)="editar('asdfafasf')"></botao-cancelar>
  <botao-nao (acao)="editar('asdfafasf')"></botao-nao>
  <botao-sim (acao)="editar('asdfafasf')"></botao-sim>

  Listagem de orçamentos não acabado
</tela>
