<div
  class="btn-toolbar"
  role="toolbar"
  aria-label="Toolbar com grupos de botões"
>
  <div class="btn-group mr-2" role="group" aria-label="Botoes de acao">
    <button type="button" class="btn btn-primary" (click)="clickEdicao()">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-primary" (click)="clickVisaulizacao()">
      <i class="fa fa-folder-open" aria-hidden="true"></i>
    </button>
    <app-modal-sim-nao
      icone="fa-trash"
      pergunta="Tem certeza que deseja excluir o registro ?"
      (sim)="clickExclusao()"
    ></app-modal-sim-nao>
  </div>
</div>
