<tela titulo="{{ titulo }}" (botaoFechar)="voltar()">
  <div class="row">
    <div class="col-sm">
      <form #formulario="ngForm" (ngSubmit)="salvar()">
        <div class="row" *ngIf="id != null">
          <div class="col-sm">
            <div class="form-group">
              <label for="id">Id:</label>&nbsp;<strong
                ><span>{{ pessoa.UUId }}</span></strong
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="nome"
                name="nome"
                placeholder="Nome"
                autofocus
                [(ngModel)]="pessoa.nome"
                #nome="ngModel"
                required
              />
              <alert type="danger" *ngIf="!nome.valid && nome.touched">
                <strong>Atenção!</strong> Campo obrigatório.
              </alert>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <label for="nomeMeio">Nome do meio</label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="nomeMeio"
                name="nomeMeio"
                [(ngModel)]="pessoa.nomeMeio"
                placeholder="Nome do meio"
              />
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <label for="sobrenome">Sobre nome</label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="sobrenome"
                name="sobrenome"
                [(ngModel)]="pessoa.sobrenome"
                placeholder="Sobre nome"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <label for="nascimento">Nascimento</label>
              <input
                type="text"
                placeholder="Choose date"
                class="form-control form-control-sm"
                name="nascimento"
                [(ngModel)]="pessoa.nascimento"
                #nascimento="ngModel"
                placeholder="dd/mm/aaaa"
                [bsValue]="pessoa.nascimento"
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                bsDatepicker
                required
              />
              <alert
                type="danger"
                *ngIf="!nascimento.valid && nascimento.touched"
              >
                <strong>Atenção!</strong> Campo obrigatório.
              </alert>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <label for="sexo">Sexo</label>
              <select
                required
                class="form-control form-control-sm"
                id="sexo"
                name="sexo"
                [(ngModel)]="pessoa.sexo"
                placeholder="Sexo"
              >
                <option
                  *ngFor="let sex of sexo"
                  value="{{ sex.id }}"
                  selected
                  >{{ sex.descricao }}</option
                >
              </select>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <label for="rg">RG</label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="rg"
                name="rg"
                [(ngModel)]="pessoa.rg"
                placeholder="Identidade"
              />
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <label for="cpf">CPF</label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="cpf"
                name="cpf"
                [(ngModel)]="pessoa.cpf"
                placeholder="999.999.999-99"
                mask="000.000.000-00"
                maxlength="11"
              />
            </div>
          </div>
        </div>
        <div class="form-group form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="ativo"
            name="ativo"
            [(ngModel)]="pessoa.ativo"
          />
          <label class="form-check-label" for="ativo">Ativo</label>
        </div>
        <botao-salvar [desabilitado]="!formulario.valid"></botao-salvar>&nbsp;
        <botao-cancelar (acao)="voltar()"></botao-cancelar>
      </form>
    </div>
  </div>
</tela>
