<nav class="navbar navbar-expand-lg navbar-dark bg-primary" dropdown>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#intensBarraMenu" aria-controls="intensBarraMenu" aria-expanded="false" aria-label="Toggle navigation" id="botaoMenu">
	    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="intensBarraMenu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [ngClass]="{ dropdown: item.subIntens != null }" *ngFor="let item of getItensMenu()">
        <a *ngIf="item.subIntens === null" class="nav-link" [routerLink]="[item.link]">{{ item.texto }}</a>
        <a *ngIf="item.subIntens !== null" class="nav-link dropdown-toggle" id="subMenu" role="button" dropdownToggle aria-controls="dropdown-basic">{{ item.texto }}</a>
        <div *ngIf="item.subIntens !== null">
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="subMenu">
            <li role="menuitem" *ngFor="let subItem of item.subIntens">
              <a class="dropdown-item" [routerLink]="[subItem.link]" routerLinkActive="active">{{ subItem.texto }}</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <span class="navbar-text">Texto</span>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Localizar" />
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Localizar</button>
    </form>
  </div>
</nav>